.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

ul.img-thumbnails {
	margin: 0;
	padding: 0;
	text-align: center;
}

li.small-image {
	width: 34px;
	height: 34px;
}