.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

ul.img-thumbnails {
	width: 240px;
	margin: 0 auto 0 auto; !important
	padding: 0;
}

li.small-image {
	width: 34px;
	height: 34px;
	text-align: center;
}